
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">@Resource.Home</a>
        </li>

        <li>
            <i class="menu-icon fa fa-users"></i>
            <a href="#">@Resource.Member</a>
        </li>
        <li class="active">@Resource.FAQ</li>
    </ul><!-- /.breadcrumb -->
</div>
<div class="page-content">
    
    <div class="page-header">
        <h1>
            FAQ
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                frequently asked questions when using CBRMS System.
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="tabbable">
                <ul class="nav nav-tabs padding-18 tab-size-bigger" id="myTab">
                    <li class="active">
                        <a data-toggle="tab" href="#faq-tab-1">
                            <i class="blue ace-icon fa fa-question-circle bigger-120"></i>
                            General
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#faq-tab-2">
                            <i class="green ace-icon fa fa-user bigger-120"></i>
                            Account
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#faq-tab-3">
                            <i class="orange ace-icon fa fa-credit-card bigger-120"></i>
                            Payments
                        </a>
                    </li>

                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="purple ace-icon fa fa-magic bigger-120"></i>
                            Misc
                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-lighter dropdown-125">
                            <li>
                                <a data-toggle="tab" href="#faq-tab-4"> Affiliates </a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#faq-tab-4"> Merchants </a>
                            </li>
                        </ul>
                    </li><!-- /.dropdown -->
                </ul>

                <div class="tab-content no-border padding-24">
                    <div id="faq-tab-1" class="tab-pane fade in active">
                        <h4 class="blue">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            General Questions
                        </h4>

                        <div class="space-8"></div>

                        <div id="faq-list-1" class="panel-group accordion-style1 accordion-style2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#faq-1-1" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                        <i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>

                                        <i class="ace-icon fa fa-user bigger-130"></i>
                                        &nbsp;How to Create New Member or New Employee record in this system?
                                    </a>
                                </div>

                                <div class="panel-collapse collapse" id="faq-1-1">
                                    <div class="panel-body">
                                       That is so easy.Firstly,Go at Main menu of left panel of system.Then you will find Member .In there,you can define or create New Member[Employee] record .
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#faq-1-2" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                        <i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>

                                        <i class="ace-icon fa fa-sort-amount-desc"></i>
                                        &nbsp; How to Ordering and Sale billing in this system?
                                    </a>
                                </div>

                                <div class="panel-collapse collapse" id="faq-1-2">
                                    <div class="panel-body">
                                        <div id="faq-list-nested-1" class="panel-group accordion-style1 accordion-style2">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <a href="#faq-list-1-sub-1" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                                        <i class="ace-icon fa fa-plus smaller-80 middle" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
                                                        How to define Master Setup in this system?
                                                    </a>
                                                </div>

                                                <div class="panel-collapse collapse" id="faq-list-1-sub-1">
                                                    <div class="panel-body">
                                                       First,you go to left panel of system.Then you can see Mater Setup and click it.In there,you must firstly define Category.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <a href="#faq-list-1-sub-2" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                                        <i class="ace-icon fa fa-plus smaller-80 middle" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
                                                        How to define Menu record in this System after setting up Master Setup?
                                                    </a>
                                                </div>

                                                <div class="panel-collapse collapse" id="faq-list-1-sub-2">
                                                    <div class="panel-body">
                                                        Secondly,Go on head Menu in the left panel of system.Then you will find Menu and Click it.In There,you must define FoodItems_Detail.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <a href="#faq-list-1-sub-3" data-parent="#faq-list-nested-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                                        <i class="ace-icon fa fa-plus smaller-80 middle" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
                                                        How to Order in this System?
                                                    </a>
                                                </div>

                                                <div class="panel-collapse collapse" id="faq-list-1-sub-3">
                                                    <div class="panel-body">
                                                       
                                                        Finally,Keep go on Main Menu in the left panel of system.Then you will find Ordering &Aacute; Billing and Click it.In there,you must define order Master and Details .Finally to create Sale bill ,Click Sale Bill and define sale bill date and some needing record.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#faq-1-3" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                        <i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>

                                        <i class="ace-icon fa fa-credit-card bigger-130"></i>
                                        &nbsp; what does it means Single sign-on in this system?
                                    </a>
                                </div>

                                <div class="panel-collapse collapse" id="faq-1-3">
                                    <div class="panel-body">
                                       Single Sign-on means member users can login with thier social media network like that facebook account,gmail account,linked account etc.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#faq-1-4" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                        <i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>

                                        <i class="ace-icon fa fa-files-o bigger-130"></i>
                                        &nbsp; What kind of reports can view in this system?
                                    </a>
                                </div>

                                <div class="panel-collapse collapse" id="faq-1-4">
                                    <div class="panel-body">
                                      There are two type of reports format in this system one is by text view and another one is Chart reports
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#faq-1-5" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
                                        <i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>

                                        <i class="ace-icon fa fa-cog bigger-130"></i>
                                        &nbsp; What does it mean Settings [Authorization] in right corner of system?
                                    </a>
                                </div>

                                <div class="panel-collapse collapse" id="faq-1-5">
                                    <div class="panel-body">
                                       Authorization is so important in this system.It allows which programs or functions can access who users.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="faq-tab-2" class="tab-pane fade">
                        <h4 class="blue">
                            <i class="green ace-icon fa fa-user bigger-110"></i>
                            Account Questions
                        </h4>

                        <div class="space-8"></div>

                        <div id="faq-list-2" class="panel-group accordion-style1 accordion-style2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#faq-2-1" data-parent="#faq-list-2" data-toggle="collapse" class="accordion-toggle collapsed">
                                        <i class="ace-icon fa fa-chevron-right smaller-80" data-icon-hide="ace-icon fa fa-chevron-down align-top" data-icon-show="ace-icon fa fa-chevron-right"></i>&nbsp;
                                        How to create user account with admin user level in this system?
                                    </a>
                                </div>

                                <div class="panel-collapse collapse" id="faq-2-1">
                                    <div class="panel-body">
                                       All of the users with administartion level can create/define user account that he/she want.if so,follow this url:Admin SetUp>>User>>Create user
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#faq-2-2" data-parent="#faq-list-2" data-toggle="collapse" class="accordion-toggle collapsed">
                                        <i class="ace-icon fa fa-chevron-right smaller-80" data-icon-hide="ace-icon fa fa-chevron-down align-top" data-icon-show="ace-icon fa fa-chevron-right"></i>&nbsp;
                                        How to change or update my passwrod in this system?
                                    </a>
                                </div>

                                <div class="panel-collapse collapse" id="faq-2-2">
                                    <div class="panel-body">
                                        
                                        That is so easy.Go right conor of system.In there you will find Authorization|Profile|Logout to update or change passwrod go on at Profile and can update your passwrod.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#faq-2-3" data-parent="#faq-list-2" data-toggle="collapse" class="accordion-toggle collapsed">
                                        <i class="ace-icon fa fa-chevron-right middle smaller-80" data-icon-hide="ace-icon fa fa-chevron-down align-top" data-icon-show="ace-icon fa fa-chevron-right"></i>&nbsp;
                                       How to change language[Myanmar-English OR English-Myanmar] in this system?
                                    </a>
                                </div>

                                <div class="panel-collapse collapse" id="faq-2-3">
                                    <div class="panel-body">
                                       Firstly,you should go at the top-center of system.Then you will find Language dropdown control.In there,you can change language that you want.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#faq-2-4" data-parent="#faq-list-2" data-toggle="collapse" class="accordion-toggle collapsed">
                                        <i class="ace-icon fa fa-chevron-right smaller-80" data-icon-hide="ace-icon fa fa-chevron-down align-top" data-icon-show="ace-icon fa fa-chevron-right"></i>&nbsp;
                                        How to define or create new role in this system?
                                    </a>
                                </div>

                                <div class="panel-collapse collapse" id="faq-2-4">
                                    <div class="panel-body">
                                     That is so easy.Please go at the left menu panel of the system.Then you will find Admin Setup and Click Role.In there,define new role that you want.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="faq-tab-3" class="tab-pane fade">
                        <h4 class="blue">
                            <i class="orange ace-icon fa fa-credit-card bigger-110"></i>
                            Payment Questions
                        </h4>

                        <div class="space-8"></div>

                        <div id="faq-list-3" class="panel-group accordion-style1 accordion-style2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#faq-3-1" data-parent="#faq-list-3" data-toggle="collapse" class="accordion-toggle collapsed">How many payment gates can get available on this system?
                                    </a>
                                </div>

                                <div class="panel-collapse collapse" id="faq-3-1">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#faq-3-2" data-parent="#faq-list-3" data-toggle="collapse" class="accordion-toggle collapsed">
                                        <i class="ace-icon fa fa-plus smaller-80" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
                                        Single-origin coffee nulla assumenda shoreditch et?
                                    </a>
                                </div>

                                <div class="panel-collapse collapse" id="faq-3-2">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#faq-3-3" data-parent="#faq-list-3" data-toggle="collapse" class="accordion-toggle collapsed">
                                        <i class="ace-icon fa fa-plus smaller-80" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
                                        Sunt aliqua put a bird on it squid?
                                    </a>
                                </div>

                                <div class="panel-collapse collapse" id="faq-3-3">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#faq-3-4" data-parent="#faq-list-3" data-toggle="collapse" class="accordion-toggle collapsed">
                                        <i class="ace-icon fa fa-plus smaller-80" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
                                        Brunch 3 wolf moon tempor sunt aliqua put?
                                    </a>
                                </div>

                                <div class="panel-collapse collapse" id="faq-3-4">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="faq-tab-4" class="tab-pane fade">
                        <h4 class="blue">
                            <i class="purple ace-icon fa fa-magic bigger-110"></i>
                            Miscellaneous Questions
                        </h4>

                        <div class="space-8"></div>

                        <div id="faq-list-4" class="panel-group accordion-style1 accordion-style2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#faq-4-1" data-parent="#faq-list-4" data-toggle="collapse" class="accordion-toggle collapsed">
                                        <i class="ace-icon fa fa-hand-o-right" data-icon-hide="ace-icon fa fa-hand-o-down" data-icon-show="ace-icon fa fa-hand-o-right"></i>&nbsp;
                                        Enim eiusmod high life accusamus terry richardson?
                                    </a>
                                </div>

                                <div class="panel-collapse collapse" id="faq-4-1">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#faq-4-2" data-parent="#faq-list-4" data-toggle="collapse" class="accordion-toggle collapsed">
                                        <i class="ace-icon fa fa-frown-o bigger-120" data-icon-hide="ace-icon fa fa-smile-o" data-icon-show="ace-icon fa fa-frown-o"></i>&nbsp;
                                        Single-origin coffee nulla assumenda shoreditch et?
                                    </a>
                                </div>

                                <div class="panel-collapse collapse" id="faq-4-2">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#faq-4-3" data-parent="#faq-list-4" data-toggle="collapse" class="accordion-toggle collapsed">
                                        <i class="ace-icon fa fa-plus smaller-80" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
                                        Sunt aliqua put a bird on it squid?
                                    </a>
                                </div>

                                <div class="panel-collapse collapse" id="faq-4-3">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#faq-4-4" data-parent="#faq-list-4" data-toggle="collapse" class="accordion-toggle collapsed">
                                        <i class="ace-icon fa fa-plus smaller-80" data-icon-hide="ace-icon fa fa-minus" data-icon-show="ace-icon fa fa-plus"></i>&nbsp;
                                        Brunch 3 wolf moon tempor sunt aliqua put?
                                    </a>
                                </div>

                                <div class="panel-collapse collapse" id="faq-4-4">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>

