<div class="global-search-widget">
    <div class="globa-search-form">
        <form class="form-search">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav_search_input" name="item" value="" autocomplete="on" width="350" />
                <i class="ace-icon fa fa-search nav-search-icon"></i>
            </span>
            </form>
</div>
    <div class="global-search-results"></div>
</div>
