@{
    ViewBag.Title = "Display table using Angular JS";
}

<div class="panel panel-info">
    <div class="panel-heading">
        Displaying DB data using Angular in MVC5
    </div>
    <div ng-app="myapplication" ng-controller="TableController">
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>
                       Full Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        DOB
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Designation
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in User">
                    <td>{{i.FullName}}</td>
                    <td>{{i.Email}}</td>
                    <td>{{i.DOB.slice(6,-2)|date:'dd-MM-yyyy'}}</td>
                    <td>{{i.Phone}}</td>
                    <td>{{i.Address}}</td>
                    <td>{{i.Designation}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/Angular/TableDisplayController.js"></script>

}